{% extends "base.html" %}
{% block title %}
    LavaCactus
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary rounded-3">
    <img src="{% static 'images/logo.png' %}" class="bi mt-4 mb-3" width="100" height="100">
    <h1 class="text-body-emphasis">Добро пожаловать на сайт Кириченко Дмитрия!</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      Наслаждайтесь просмотром страниц!
    </p>
    <div class="d-inline-flex gap-2 mb-5">
        <a class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" href="https://github.com/quillcraftsman/lavacactus/" target="_blank">Project on GitHub</a>
      <a class="btn btn-outline-secondary btn-lg px-4 rounded-pill" href="{% url '/contact.html' %}">Contact</a>
    </div>
  </div>


<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-3">
      <h2>О компании МАГНИТ</h2>
      <p>«Магнит» является одной из ведущих розничных сетей в России по торговле продуктами питания, лидером по количеству магазинов и географии их расположения.

Компания представлена в около 4 000 населенных пунктах, ежедневно магазины компании посещают почти 16 миллионов человек. «Магнит» работает в мультиформантной модели, которая включает в себя магазины у дома, супермаркеты, аптеки и магазины дрогери. На 30 июня 2022 года компания насчитывала 26 731 торговую точку в 67 регионах России. Участниками кросс-форматной программы лояльности сети являются более 63 млн человек.

«Магнит» является уникальной компанией в российском ритейле. Наряду с продажей товаров розничная сеть занимается производством продуктов питания под собственными торговыми марками. Компания управляет несколькими предприятиями по выращиванию овощей, производству бакалеи и и кондитерских изделий. «Магнит» владеет тепличным и грибным комплексами, которые являются одними из крупнейших в России. Логистическая инфраструктура компании включает в себя 45 распределительных центров и 5412 автомобилей.

«Магнит» входит в список крупнейших публичных компаний мира рейтинга Global 2000 Forbes и возглавляет рейтинг крупнейших частных работодателей России по версии Forbes. Общая численность сотрудников составляет около 359 тысяч человек.

«Магнит» был основан в 1994 году на юге России в Краснодаре как небольшая региональная компания. За это время «Магнит» вырос в одну из крупнейших российских компаний. Штаб-квартира розничной сети по-прежнему находится в Краснодаре. В 2006 году компания провела IPO на Лондонской фондовой бирже. 66,8% акций «Магнита» находятся в свободном обращении и торгуются на Московской и Лондонской фондовой биржах (LSE: MGNT). В соответствии с ревьюированными результатами Компании по МСФО 16, выручка «Магнита» за 1 полугодие 2022 года составила 1 136,3 млрд руб., EBITDA — 128,4 млрд руб. Приглашаем поставщиков к взаимовыгодному сотрудничеству. Регистрируйтесь на портале АО «Тандер», чтобы участвовать в наших торгах или передать нам свое коммерческое предложение."</p>
    </div>

    <div class="col-lg-3">
      <h2>Pretty URLs</h2>
      <p>LavaCactus can prettify URLs, so you can turn <code>/about.html</code> into a fancier <code>/about/</code> or just use <code>about.html</code>.</p>
    </div>

    <div class="col-lg-3">
      <h2>Minification & Fingerprinting</h2>
      <p>For maximum performance, LavaCactus can minify and fingerprint your static assets. As for your pages, LavaCactus will automatically compress them.</p>
   </div>

    <div class="col-lg-3">
      <h2>And much more</h2>
      <p>There's of course a lot more you can do with LavaCactus. Plus, LavaCactus's plugin framework lets you easily extend its functionality.</p>
   </div>


  </div>
</div>
{% endblock %}